include jadefiles/global/head.jade
|
|
body
  |
  |
  .home-wrap
    .owl-carousel.owl-theme.carousel-1
      .item
        img.w-100(src="assets/img/banner.png", alt="")
      .item
        img.w-100(src="assets/img/banner.png", alt="")
      .item
        img.w-100(src="assets/img/banner.png", alt="")
    |
    |
    img.slogan(src="assets/img/amazing.png", alt="")
    |
    |      
    a.btn-nav(href="#"): img(src="assets/img/button.png", alt="")
    |
    |
    .wrap-menu
      ul.primary-navbar.list-unstyled
        li: a(href="#") TRANG CHỦ  
        li: a(href="#") TUYỂN DỤNG
        li: a(href="#") ỨNG VIÊN
        li: a(href="#") ĐĂNG NHẬP
        li: a(href="#") ĐĂNG KÝ
      |
      |
      ul.social-navbar.list-unstyled
        li: a(href="#")
          i.fa.fa-facebook(aria-hidden='true')
        li: a(href="#")
          i.fa.fa-google-plus(aria-hidden='true')
        li: a(href="#")
          i.fa.fa-twitter(aria-hidden='true')
        li: a(href="#")
          i.fa.fa-instagram(aria-hidden='true')
    |
    |
    .wrap-content
      ul#myTab.nav.nav-tabs(role='tablist')
        li.nav-item
          a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') TÌM VIỆC LÀM
        |   
        li.nav-item
          a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') TÌM HỒ SƠ
      |
      |
      #myTabContent.tab-content
        #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
          form.wrap-form
            .form-group
              input.form-control(type="text" placeholder="Từ khóa... (vd: Nhân viên kinh doanh)")
            |
            |
            .form-group
              input(type="text").nice-select-filter.d-none
              select.form-control(name='location', data-placeholder='Nhấp chọn Ngành nghề', style='width:100%;', tabindex='2')
                option(value='0') Nhấp chọn Ngành nghề
                |                                                                                                                                 
                option(value='47') An Giang
                |                                                                                     
                option(value='20') B&agrave; R&#x1ECB;a - V&utilde;ng T&agrave;u
                |                                                                                     
                option(value='62') B&#x1EA1;c Li&ecirc;u
                |                                                                                     
                option(value='25') B&#x1EAF;c Giang
                |                                                                                     
                option(value='54') B&#x1EAF;c K&#x1EA1;n
                |                                                                                     
                option(value='8') B&#x1EAF;c Ninh
                |                                                                                     
                option(value='50') B&#x1EBF;n Tre
            |
            |
            .form-group
              input(type="text").nice-select-filter.d-none
              select.form-control(name='location', data-placeholder='Nhấp chọn địa điểm', style='width:100%;', tabindex='2')
                option(value='0') Nhấp chọn địa điểm
                |                                                                                                                                 
                option(value='47') An Giang
                |                                                                                     
                option(value='20') B&agrave; R&#x1ECB;a - V&utilde;ng T&agrave;u
                |                                                                                     
                option(value='62') B&#x1EA1;c Li&ecirc;u
                |                                                                                     
                option(value='25') B&#x1EAF;c Giang
                |                                                                                     
                option(value='54') B&#x1EAF;c K&#x1EA1;n
                |                                                                                     
                option(value='8') B&#x1EAF;c Ninh
                |                                                                                     
                option(value='50') B&#x1EBF;n Tre
            |
            |
            a.btn.btn-search.text-uppercase#btn-search-1(data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample") TÌM KIẾM
              i.fa.fa-search.icon-search(aria-hidden='true')
          |
          |
          .wrap-toggle.collapse#collapseExample
            .wrap-toggle-box
              .brand-logo
                img(src="assets/img/brand.png", alt="")
              |
              |
              .info-job
                h4 Nhân viên Kinh Doanh - Marketing
                p.info-job-text 
                  i.fa.fa-briefcase(aria-hidden='true')
                  span Công ty Cổ phần Nhà hàng thức ăn nhanh BURGER - KING
                p.info-job-text 
                  i.fa.fa-map-marker(aria-hidden='true')
                  span Hồ Chí Minh
                ul.list-unstyled
                  li
                    i.fa.fa-money(aria-hidden='true')
                    span.text-red 7 - 10 Triệu
                  li
                    i.fa.fa-table(aria-hidden='true')
                    span.text-red 30/10/2017
                  li
                    i.fa.fa-users(aria-hidden='true')
                    span.text-red 50
                  li
                    i.fa.fa-clock-o(aria-hidden='true')
                    span.text-red Full-time
              |
              |
              a.btn.btn-apply.text-uppercase(href="#") ỨNG TUYỂN NGAY
            |
            |
            .wrap-toggle-box
              .brand-logo
                img(src="assets/img/brand.png", alt="")
              |
              |
              .info-job
                h4 Nhân viên Kinh Doanh - Marketing
                p.info-job-text 
                  i.fa.fa-briefcase(aria-hidden='true')
                  span Công ty Cổ phần Nhà hàng thức ăn nhanh BURGER - KING
                p.info-job-text 
                  i.fa.fa-map-marker(aria-hidden='true')
                  span Hồ Chí Minh
                ul.list-unstyled
                  li
                    i.fa.fa-money(aria-hidden='true')
                    span.text-red 7 - 10 Triệu
                  li
                    i.fa.fa-table(aria-hidden='true')
                    span.text-red 30/10/2017
                  li
                    i.fa.fa-users(aria-hidden='true')
                    span.text-red 50
                  li
                    i.fa.fa-clock-o(aria-hidden='true')
                    span.text-red Full-time
              |
              |
              a.btn.btn-apply.text-uppercase(href="#") ỨNG TUYỂN NGAY
            |
            |
            .wrap-toggle-box
              .brand-logo
                img(src="assets/img/brand.png", alt="")
              |
              |
              .info-job
                h4 Nhân viên Kinh Doanh - Marketing
                p.info-job-text 
                  i.fa.fa-briefcase(aria-hidden='true')
                  span Công ty Cổ phần Nhà hàng thức ăn nhanh BURGER - KING
                p.info-job-text 
                  i.fa.fa-map-marker(aria-hidden='true')
                  span Hồ Chí Minh
                ul.list-unstyled
                  li
                    i.fa.fa-money(aria-hidden='true')
                    span.text-red 7 - 10 Triệu
                  li
                    i.fa.fa-table(aria-hidden='true')
                    span.text-red 30/10/2017
                  li
                    i.fa.fa-users(aria-hidden='true')
                    span.text-red 50
                  li
                    i.fa.fa-clock-o(aria-hidden='true')
                    span.text-red Full-time
              |
              |
              a.btn.btn-apply.text-uppercase(href="#") ỨNG TUYỂN NGAY
            |
            |
            .wrap-toggle-box
              .brand-logo
                img(src="assets/img/brand.png", alt="")
              |
              |
              .info-job
                h4 Nhân viên Kinh Doanh - Marketing
                p.info-job-text 
                  i.fa.fa-briefcase(aria-hidden='true')
                  span Công ty Cổ phần Nhà hàng thức ăn nhanh BURGER - KING
                p.info-job-text 
                  i.fa.fa-map-marker(aria-hidden='true')
                  span Hồ Chí Minh
                ul.list-unstyled
                  li
                    i.fa.fa-money(aria-hidden='true')
                    span.text-red 7 - 10 Triệu
                  li
                    i.fa.fa-table(aria-hidden='true')
                    span.text-red 30/10/2017
                  li
                    i.fa.fa-users(aria-hidden='true')
                    span.text-red 50
                  li
                    i.fa.fa-clock-o(aria-hidden='true')
                    span.text-red Full-time
              |
              |
              a.btn.btn-apply.text-uppercase(href="#") ỨNG TUYỂN NGAY
          |
          |
          form.wrap-form
            .form-group
              small Theo dõi ngay để không bỏ lỡ
              p Hàng nghìn công việc cực “hot” liên tục cập nhật
            |
            |
            .form-group
              input.form-control(type="text" placeholder="Nhập Email của bạn")
            |
            |
            a.btn.btn-search.text-uppercase#btn-search-2(href="#") SUBSCRIBE
        
        |   
        #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...
        |   
        #contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') ...
      |
      |
      .wrap-brand.mb-4
        a(href="#"): img(src="assets/img/brand-logo.png", alt="")
        a(href="#"): img(src="assets/img/brand-logo-1.png", alt="")
      p.text-center.copyright Copyright @ JobApp 2017. All right reserved
    |
    |
    
    
  |
  |
  include jadefiles/global/footer.jade
