/**** POPUP SECTION ***/
.wrap-popup {
  .popup-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgba(black,0.8);
    position: fixed;
    transform: translateY(-100%);
    transition: all .5s ease-in-out;
    opacity: 0;
    z-index: 1000;

    .close-btn {
      content: &times;
      color: #ffffff;
      font-size: 40px;
      font-weight: 200;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #ffffff;
      position: absolute;
      top: 5rem;
      right: 5rem;
      cursor: pointer;

      &:hover {
        color: #ccc;
      }
    }
  }

  .popup-wrap {
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.77,-0.11, 0.27, 1.59);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: scale(0.1) translate(-50%, -50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-open {
    opacity: 1;
    transform: translateY(0) !important;
  }

  .popup-wrap-open {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }

  .media {
    background: #ffffff;
    border-radius: 4px;
    color: #666666;
    padding: 10px;
    display: flex;
    flex-direction: column;

    p {
      font-size: 14px;
    }

    &-left {
      padding-right: 15px;
    }
  }

  .wrap-media {
    display: flex;
  }

  .media-btn {
    display: flex;
    margin-top: 10px;
    width: 100%;

    .btn-blue, .btn-white {
      flex: 1;
      border-radius: 4px;
    }

    .btn-blue {
      background: #0089db;
      color: #ffffff;
      padding: 6px 20px;
      margin-right: 10px;
      transition: all .2s ease-in-out;

      i {
        font-size: 16px;
        margin-right: 5px;
      }

      &:hover {
        background: darken(#0089db, 10%);
      }
    }

    .btn-white {
      background: #ffffff;
      color: rgba(#666666, 0.8);
      border: 1px solid rgba(#666666, 0.8);
    }
  }

}

/**** END POPUP ****/



/*** GLOBAL CSS ***/

@font-face {
  font-family: 'SVN-Bebas';
  src: url('0-tools/bebas/SVN-Bebas Neue Regular.ttf') format('truetype'), /* font chuan */
}

body {
  // overflow: hidden;
  background: #f3f3f3;
  @include font('Roboto');
}

.act-search {
  transform: scale(1.05) !important;
}
.tab-pane {
  transition: transform .5s cubic-bezier(0.72,-0.49, 0.31, 1.7);
}

.backdrop-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
}

.toggleBackdrop {
  display: block;
}

.home-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.custom-wrap {
  height: 100% !important;
}

.slogan {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  transition: all .2s ease-in-out;
  z-index: 1;
}

.slogan-gone {
  opacity: 0 !important;
}

.carousel-1 {
  background: url('../img/banner-1.png') no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100vh;
  transition: all .5s ease-in-out;

  img {
    height: 100vh;
  }
}

.push-carousel {
  transform: translateY(-70%);
}

.pull-content {
  transform: translateY(20%);
}

.btn-nav {
  position: fixed;
  top: 20px;
  right: 40px;
  z-index: 1001;
}

.btn-apply {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 2px;
  background: #137a35;
  border-radius: 0;
  width: 200px;
  height: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  @include hoverColor(#ffffff);
  margin-right: 70px;
  align-self: center;
  transition: all .2s ease-in-out;

  &:hover {
    background: darken(#137a35, 10%);
  }
}

.tab-content {
  margin-bottom: 70px;
}

.copyright {
  transform: translateY(10px);
  color: rgba(#ffffff,0.6);
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.position-copyright {
  color: #0a1f17;
  transform: translateY(10px);
}

.wrap-content .wrap-form .nice-select {
  z-index: 100;
}

.wrap-brand {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -1;

  a {
    width: 10%;
    display: inline;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  img {
    width: 100%;
  }
}

.close-icon {
  position: absolute;
  right: 0;
  top: -32px;
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
  opacity: 0;
  transform: scale(0);
  transition: .5s cubic-bezier(0.72,-0.49, 0.31, 1.7);
}

.show-close-icon {
  opacity: 1;
  transform: scale(1);
}

.wrap-content {
  width: 75%;
  position: relative;
  transform: translateY(25%);
  z-index: 10;

  .nav-tabs {
    border: none !important;
    margin-bottom: 20px;

    li {
      position: relative;

      &:last-child::before {
        display: none;
      }

      &:before {
        display: block;
        content: '';
        width: 1px;
        height: 10px;
        background: #ffffff;
        position: absolute;
        top: 4px;
        left: 128px;
      }
    }

    a {
      padding: 0;
      margin-right: 90px;
      background: none !important;
      border: none !important;
      color: #c6c6c6;
      @include hoverColor(#ffffff);
      font-size: 13px;
    }

    .active {
      color: #ffffff !important;
    }
  }

  .wrap-form {
    display: flex;
    background: rgba(#10252b, 0.62);
    border-radius: 2px;
    padding: 25px 30px;
    margin-bottom: 30px;


    .form-group {
      position: relative;
      flex: 1;
      margin-right: 25px;
      margin-bottom: 0;

      small {
        font-size: 12px;
        line-height: 20px;
        color: rgba(#ffffff, 0.6);
        margin-bottom: 2px;
        display: block;
      }

      p {
        color: #ffffff;
        font-size: 16px;
        line-height: 20px;
      }
    }

    input {
      background: none !important;
      border: none !important;
    }

    .list {
      color: #000000;
    }

    .form-control {
      line-height: 34px !important;
      padding: 0;
      background: none !important;
      border: none !important;
      border-radius: 0 !important;
      border-bottom: 1px solid rgba(#ffffff, 0.5) !important;
      padding-bottom: 10px;
      font-size: 12px;
      line-height: 20px;
      color: rgba(#ffffff, 0.7) !important;
      @include placeholderColor(rgba(#ffffff, 0.7));
    }

    .nice-select-filter {
      background: #ffffff !important;
    }
  }
}

.add-padding {
  padding-bottom: 50px;
}

.btn-search {
  letter-spacing: 1px;
  background: #ffffff;
  color: #182d32;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px !important;
  font-weight: 600;
  width: 150px;
  height: 50px;
  @include hoverColor(#137a35);

  i {
    margin-left: 5px;
  }
}

.wrap-menu {
  width: 50%;
  height: 100%;
  background: rgba(#0b1619, 0.95);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100%;
  transform: scale(0.05);
  top: -300px;
  right: -300px;
  opacity: 0;
  transition: .7s cubic-bezier(0.72,-0.49, 0.31, 1.7);
  z-index: 1000;

  .primary-navbar {
    li {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      text-align: center;
      font-size: 24px;
      font-family: 'SVN-Bebas';
      color: #ffffff;
      position: relative;

      &:hover::before {
        width: 150%;
      }

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        content: '';
        width: 0%;
        height: 2px;
        background: #ffffff;
        transition: all .2s ease-in-out;
      }
    }
  }

  .social-navbar {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    li {
      margin-right: 80px;

      &:last-child {
        margin-right: 0;
      }

      &:hover i {
        border-color: #ffffff;
      }

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid transparent;
        border-radius: 50%;
        font-size: 16px;
        color: #ffffff;
        transition: all .2s ease-in-out;
      }
    }
  }
}

.open {
  top: 0 !important;
  right: 0 !important;
  transform: scale(1) !important;
  border-radius: 0 !important;
  opacity: 1 !important;
}

.wrap-toggle {
  background: #ffffff;
  margin-bottom: 30px;
  margin-top: 80px;

  &-box {
    display: flex;
    align-content: center;
    padding: 30px 0px 10px 0px;
    transition: all .2s ease-in-out;

    &:hover {
      box-shadow: 3px 5px 13px 0px rgba(10, 25, 27, 0.33);
    }
  }

  .brand-logo {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-job {
    flex: 3;

    h4 {
      font-size: 14px;
      line-height: 20px;
      color: #0b171a;
      margin-bottom: 15px;
    }

    &-text {
      i {
        color: #7e7e7e;
        font-size: 12px;
        margin-right: 10px;
        width: 15px;
        text-align: center;
      }

      span {
        color: #7e7e7e;
        font-size: 12px;
        line-height: 20px;
      }
    }

    ul {
      display: flex;
      margin-top: 10px;

      li {
        margin-right: 60px;

        i {
          font-size: 14px;
          color: #7e7e7e;
          width: 15px;
          margin-right: 10px;
        }

        span {
          color: #d61d2f;
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
        }
      }
    }
  }
}

/***** RESPONSIVE *****/
@media (max-width: 1120px) {

  .abc {
    height: auto !important;
  }

  .wrap-content {
    width: 95%;
    position: static !important;
    margin-top: 150px;
    transform: none !important;
  }

  .btn-search {
    margin-top: 10px;
    align-self: flex-end;
  }

  .wrap-toggle-box {
    padding: 20px;
    border-bottom: 1px solid rgba(#cccccc, 0.2);

    .info-job {
      margin: 30px 0;

      ul  {
        flex-wrap: wrap;

        li {
          margin-bottom: 10px;
          margin-right: 0;
          width: 50%;
        }
      }
    }

    .btn-apply {
      margin: 0;
    }
  }

  .wrap-brand a {
    width: 12%;
  }

  .wrap-content .wrap-form {
    flex-direction: column;

    .form-group {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 920px) {
  .wrap-brand a {
    width: 15%;
  }
}

@media (max-width: 768px) {
  .slogan {
    display: none;
  }

  .wrap-brand a {
    width: 20%;
  }

  .wrap-toggle-box {
    flex-direction: column;
  }

  .wrap-menu {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .wrap-brand a {
    width: 25%;
  }

  .wrap-menu .social-navbar li {
    margin-right: 50px;
  }

  .primary-navbar li {
    margin-bottom: 40px !important;
  }

}

@media (max-width: 326px) {
  .wrap-brand a {
    width: 30% !important;
  }
}
